<h1>Log In Below:</h1>

<form action="/sessions" method="post">
    <input type="text" name="email" value="your email">
    <input type="text" name="password" value="your password">
    <input type="submit" value="Log In">
</form>

